.top-nav {
    display:flex;
    flex-direction:row;
    justify-content: flex-start; 
    background-color: black;  
}
.top-nav ul{
    display:flex;
    flex-direction: row;
}
.top-nav ul li{
    list-style-type: none;
    padding:10px;
}
.top-nav li a{
    text-decoration: none;
    color:white;
}
.bottom-nav{
    display:flex;
    flex-direction:row;
    justify-content: flex-start; 
    background-color: black;  
   
}
.bottom-nav ul{
    display:flex;
    flex-direction: row;
}
.bottom-nav ul li{
    list-style-type: none;
    padding:10px;
}
.bottom-nav li a{
    text-decoration: none;
    color:white;
}
